.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1px;
  z-index: 100;
}








.header13 {
  padding: 10px 10px;
}
.header13 h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.header13 p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;

}
.social-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.social-row .soc-item {
  margin: 0 10px;
}
.social-row .soc-item a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
  .header13 h1 {
      font-size: 28px;
  }
  .header13 p {
      font-size: 16px;
  }
  .social-row .soc-item a {
      font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .header13 h1 {
      font-size: 24px;
  }
  .header13 p {
      font-size: 14px;
  }
  .social-row .soc-item a {
      font-size: 18px;
  }
}

















section {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s;
  }

  .page-title-heading {
    text-align: center;
    margin: 0;
  }

  .scrolled {
    top: -50030px; /* Adjust this value according to your needs */
  }

  .page-title-heading {
    background-color: #ffffffa3; /* Adjust as needed */
    font-size: 24px;
    font-weight: bold;
    margin: 0;

  }

  .chapter-wise {
    display: inline-block;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    overflow: hidden;
  
  
  }
  
  .chapter-wise:hover {
    background-color: #45a049;
  
  }
  
  




  /* -------------------------------------------------------------------------------------------------------- */

.card-container{
    width: 100%;
}
/* =========================================================================== */

/* Float four sub-containers side by side */
.sub-container {
    float: left;
    width: 25%;
    padding: 8px 8px;

}

/* Clear floats after the sub-containers */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #09f845;
}


/* Responsive sub-containers */
@media screen and (max-width: 600px) {
    .sub-container {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter image-containers */
.image-container {
    box-shadow: 0 4px 8px 0 rgba(234, 89, 27, 0.948);
    padding: 1px 1px;
    text-align: center;
    background-color: #ffffffd3;
    transition: transform 0.5s ease;
    max-height: 100%; /* Set your desired max height */


}
.image-container:hover {
    transform: scale(1.1);
}

.card-name{
    color: black;
}

.subjects-name{
  font-size: 20px;

}
.image-container img {
    width: 70%;
    height: 30%;
  }

.hr{
    width: 50px;
    height: 50px;
}











